.panel-shadow {
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Panel-content {
  padding: 2rem;
}

.Layout-singleCol {
  margin: 0 auto;
  display: flex;
  flex: 0 0 Calc(50% - 4rem / 2);
}

.Layout-doubleCol {
  margin: 0 auto;
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
}

.Layout-doubleCol .Panel {
  flex: 0 0 Calc(50% - 2rem);
}

.Layout-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.MainContainer-callToActionContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.MainContent-callToAction {
  margin: 0 auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  border-radius: 0.5rem;
  background: #eee;
  margin-top: 2rem;
  cursor: pointer;
  box-shadow: 0px 3px 4px 3px rgba(0, 0, 0, 0.25);
}

.SidePanel-header {
  background-color: red;
}

.MainPanel-actions {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.btn-shadow {
  box-shadow: 0px 3px 4px 3px rgba(0, 0, 0, 0.25);
}

.MainPanel-disabledAction {
  cursor: no-drop;
  background-color: #eee;
  color: #dfdfdf;
}
