.EmptyDocumentList-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0;
}

.EmptyDocumentList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.EmptyDocumentList-text {
    padding: 4rem;
}

.EmptyDocumentList-callToAction {
    padding: 4rem 12rem;
    box-shadow: 0px 3px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    cursor: pointer;
}