.DocumentListItem {
    height: 3rem;
    background-color: #c2c2c2c2;
    margin-top: 1rem;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    user-select: none;
}

.DocumentListItem:first-child {
    margin-top: 2rem;
}


.DocumentListItem:nth-child(2n) {
    background-color: #d2d2ff;
}